body{
    margin: 0 0;
    //overflow: hidden;
    background: url('../pic/test.jpg') repeat fixed;
}


#home {
    width: 100%;
    height: 100%;
    position: relative;
    
}

#homeBackground {
    width: 100%;
    height: 100%;
    background-image: url('../pic/1.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: blur(2px); /* Chrome, Opera */
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);    
    filter: blur(2px);   
    z-index: -1;
    position: absolute;
}

#homeButton{
    background-color: rgba(0,0,0,0.6);
    float: right;
    top:20px;
    right:40px;
    width: 420px;
    height: 70px;
    z-index: 10;
    position: fixed;
}

.iconField {
    width: 65px;
    height: 65px;
    background-color: white;
    margin-left: 15px;
    margin-top: 2px;
    border-radius: 50px;
    opacity: 0.5;
    float: left;
    cursor: pointer;
}

.iconField:hover{
    opacity: 1;
}

.icon {
    width: auto;
    height: 48px;
    margin-left: 8px;
    margin-top: 8px;
}


#info {
    width: 100%;
    height: 420px;
    margin: 100px 0px;
}

.personal {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url('../pic/me.jpg');
    background-position: -90px -150px;
    background-size: 160%;
}

.english {
    font-family: 'Gochi Hand', cursive;
}

.english.name {  
    font-size: 60px;
}

.english.address {
    font-size: 40px;
}

#experience {
    width: 100%;
    height: 500px;
    background-color: #FFF6CE;
    
}

.blackboard {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url('../pic/blackboard.png');
}

.textArea {
    margin-top: 25%; 
    margin-left: 10%;
    position: absolute;
    font-family: Microsoft JhengHei;
    font-size: 30px;
}


.experienceButton {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin: 10px 10px;
    float:left;
    text-align:center;
    line-height:100px;
    font-family: Microsoft JhengHei;
    font-size: 18px;
    font-weight: bold;
}

.experienceBar {
    height: 80%;
    margin: 100px 0px;
    cursor: pointer;
}

.experienceButton.b1 {
    background-color: #FFA69E;
}

.experienceButton.b2 {
    background-color: #3587A4;
}

.experienceButton.b3 {
    background-color: #B5FFE9;
}

.experienceButton.b4 {
    background-color: #F5FFC6;
}

.experienceButton.b5 {
    background-color: #119DA4;
}

.experienceButton.b6 {
    background-color: pink;
}


.experienceContainer{
    width: 80%;
    height: 80%;
    margin: 50px auto;
    padding: 10px 10px;
    background-color: white;
}

.experienceBox {
    background-clip: padding-box;
    border-style: dashed;
    border-width: 4px;
    opacity: 0.8;
    margin-left: 7px;

}

.experienceBox.b1 {
    width: 20%;
    height: 100%;
    background-color: #FFA69E;
    border-color:  #E06A5F;
    float: left;
}

.experienceBox.b2 {
    width: 40%;
    height: 50%;
    background-color: #3587A4;
    border-color:  blue;
    float: left;
}


#test {
    width: 100%;
    height: 680px;
    background-color: skyblue;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}